<template name="header">  
  <nav class="navbar navbar-default" role="navigation">    
    <div class="container-fluid">      
      <div class="navbar-header">        
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">          
          <span class="sr-only">Toggle navigation</span>          
          <span class="icon-bar"></span>          
          <span class="icon-bar"></span>          
          <span class="icon-bar"></span>        
        </button>        
        <a class="navbar-brand" href="{{pathFor 'home'}}">Savnac</a>      
      </div>      
      <div class="collapse navbar-collapse" id="navigation">        
        <ul class="nav navbar-nav navbar-right">          
            <a class="navbar-brand" href="{{pathFor 'courses'}}">Courses</a>
            <a class="navbar-brand" href="{{pathFor 'assignments'}}">Assignments</a>
            <a class="navbar-brand" href="{{pathFor 'grades'}}">Grades</a>
            <a class="navbar-brand" href="{{pathFor 'announcements'}}">Announcements</a>
        </ul>      
      </div>    
    </div>  
  </nav>
</template>